*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(31, 31, 36);
    border-bottom: 2px solid rgb(89, 89, 106);
}

li{
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: rgb(161, 149, 255);
}