ul{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: rgb(33, 33, 36);
}

li{
    margin-left: 10px;
}